body {
    margin: 0;
    padding: 0;
}

.card {
    margin: 20px;
    border: 1px solid lightgray;
    width: 200px;
    height: 260px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.card::before {
    content: 'x';
    position:absolute;
    top: 22px;
    left: 30px;
    font-size: 24px;
}

.card::after {
    content: '9';
    position: absolute;
    left: 208px;
    top: 12px;
    border-radius: 50%;
    background-color: red;
    color: white;
    width: 24px;
    height: 24px;
    align-content: center;
    text-align: center;
}

img {
    margin-top: 2px;
    color: lightgray;
    border-bottom: 1px solid lightgray;
}

h4 {
    align-self: center;
}
